<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/4944e46a-1b61-4da9-b643-25daea4b6713/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="Microsoft.*" />
      <package pattern="Volo.*" />
    </packageSource>
    <packageSource key="ABP Commercial NuGet Source">
      <package pattern="Volo.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>